@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,900;1,200;1,300;1,500;1,600&family=Source+Sans+Pro:wght@600;700&display=swap');

html, 
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Sro', sans-serif;
}

 .app {
  display: flex;
  position: relative;
 }

 ::-webkit-scrollbar {
  width: 10px;
 }
 /* track */
 ::-webkit-scrollbar-track {
  background:  #e0e0e0;
 }
 ::-webkit-scrollbar-thumb {
  background: #888;
 }

 /* Handle on Hover */
 ::-webkit-scrollbar-track:hover {
  background: #555;
 }

